# gradle

.gradle/
common/.gradle/
fabric/.gradle/
neoforge/.gradle/
build/
common/build/
fabric/build/
neoforge/build/
out/
common/out/
fabric/out/
neoforge/out/
classes/
common/classes/
fabric/classes/
neoforge/classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
common/run/
fabric/run/
neoforge/run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
